In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import os
import spacy
import warnings
# import wordcloud
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go


# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

print("yes")
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
# blerg - test2

# merge to branch

yes

In [3]:
train = pd.read_csv("nbme-score-clinical-patient-notes/train.csv")
test = pd.read_csv("nbme-score-clinical-patient-notes/test.csv")
features = pd.read_csv("nbme-score-clinical-patient-notes/features.csv")
patient_notes = pd.read_csv("nbme-score-clinical-patient-notes/patient_notes.csv")
submission = pd.read_csv("nbme-score-clinical-patient-notes/sample_submission.csv")

In [4]:
print(f'\033[92mNumber of rows in train data: {train.shape[0]}')
print(f'\033[94mNumber of columns in train data: {train.shape[1]}')
print(f'\033[91mNumber of values in train data: {train.count().sum()}')
print(f'\033[91mNumber missing values in train data: {sum(train.isna().sum())}')
train.head()

Number of rows in train data: 14300
Number of columns in train data: 6
Number of values in train data: 85800
Number missing values in train data: 0

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [5]:
print(f'\033[92mNumber of rows in test data: {patient_notes.shape[0]}')
print(f'\033[94mNumber of columns in test data: {patient_notes.shape[1]}')
print(f'\033[91mNumber of values in train data: {patient_notes.count().sum()}')
patient_notes.head()

Number of rows in test data: 42146
Number of columns in test data: 3
Number of values in train data: 126438

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [6]:
print("Unique Patient Count in train data : ",len(train["pn_num"].value_counts()))

Unique Patient Count in train data :  1000

In [11]:
PATIENT_IDX = 60417
patient_df = train[train["pn_num"] == PATIENT_IDX]
patient_df

,id,case_num,pn_num,feature_num,annotation,location
8988,60417_600,6,60417,600,['warmth'],['366 372']
8989,60417_601,6,60417,601,['M'],['21 22']
8990,60417_602,6,60417,602,['17 y/o'],['14 20']
8991,60417_603,6,60417,603,['3-4 day history of stuffy nose'],['342 360;386 397']
8992,60417_604,6,60417,604,['worsened by deep breathing'],['199 225']
8993,60417_605,6,60417,605,['excercise induced asthma'],['584 608']
8994,60417_606,6,60417,606,['chest pain'],['40 50']
8995,60417_607,6,60417,607,['started yesterday'],['72 89']
8996,60417_608,6,60417,608,['Denies shortness of breath'],['399 405;447 466']
8997,60417_609,6,60417,609,[],[]
8998,60417_610,6,60417,610,['little improvement with albuterol'],['250 283']
8999,60417_611,6,60417,611,"['sharp', '8/10']","['155 160', '189 193']"

In [2]:
#read up on cfg
from transformers import pipeline

In [3]:
feature_extraction_pip = pipeline("feature-extraction")
feature_extraction_pip

No model was supplied, defaulted to distilbert-base-cased (https://huggingface.co/distilbert-base-cased)
Downloading: 100%|██████████| 411/411 [00:00<00:00, 81.8kB/s]

RuntimeError: At least one of TensorFlow 2.0 or PyTorch should be installed. To install TensorFlow 2.0, read the instructions at https://www.tensorflow.org/install/ To install PyTorch, read the instructions at https://pytorch.org/.